
<% provide(:title, "Links") %>
<!DOCTYPE html>
<html>
  <body>
    <h1>Links</h1>
    <p>
    Created in practice by devloper Casey Barth @
    <a href="http://www.teeps.org">Teeps LLC.</a>
    </p>
  </body>
</html>
